



h1{
    text-align: center;
    font-size: 3rem;
}

.chicken{
    color: black;
	border: 2px solid black;
	text-align: end;
    margin-right: 5px;

    
    background-color: rgb(255, 0, 162);
}

.beef{
    color: white;
	border: 2px solid black;
	text-align: end;
    margin-right: 3px;
    
    
    background-color: rgb(255, 0, 0);
}
.sushi{
    color: rgb(0, 0, 0);
	border: 2px solid black;
	text-align: end;
    margin-right: 5px;
	
    
    background-color: rgb(255, 179, 0);
}







.chickenbox{
    width: 33%;
    float: left;
    border: 2px solid black;
    margin-right: 3px;
    background-color:grey;
   
}
.beefbox{
    width: 30%;
    float: left;
    border: 2px solid black;
    margin-right: 3px;
    background-color: grey;
}
.sushibox{
    width: 33%;
    float: left;
    border: 2px solid black;
    background-color: grey;
}

@media (max-width: 992px)
{
	.chickenbox {
        width: 33%;
        float: left;
        border: 2px solid black;
        margin-right: 3px;
        background-color: grey;
	}
    .beefbox{
        width: 30%;
        float: left;
        border: 2px solid black;
        margin-right: 3px;
        background-color: grey;
    }
    .sushibox{
        width: 33%;
        float: left;
        border: 2px solid black;
        background-color: grey;
    }
}



@media (min-width: 768px) and (max-width: 991px){
    .chickenbox{
        width: 49%;
        float: left;
      border: 2px solid black;
       background-color: grey;
   
    }
    .beefbox{
        width: 49%;
        float: right;
        border: 2px solid black;
       
       
        background-color: grey;
    }
    .sushibox{
        width: 99.3%;
       
        margin-top: 5px;
        border: 2px solid black;
        background-color: grey;
    }
    
    
    @media only screen and (max-width: 767px)
{
	.chickenbox {
       width: 100%;
       
       border: 2px solid black;
       background-color: grey;
	}
    .sushibox{
        width: 100%;
        align-items: center;
        margin-top: 5px;
        border: 2px solid black;
        background-color: grey;
    }

    .beefbox{
        width:100%;
        align-items: center;
        border: 2px solid black;
        background-color: grey;
    }
    

    

}


}